@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    color-scheme: dark light;
}

html {
    font-family: 'Bricolage Grotesque', sans-serif;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.animate-shine {
    animation: shine 5s reverse infinite;
}